ion-card-subtitle{
    font-size: x-large;
}
ion-title{
    text-align: center;
    padding: 15px;
    border-color: blue;
    
}
ion-card-title{
    text-align: center;
    padding: 15px;
    border-color: blue;
    font-size: xx-large;
}